@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Candara';
  src: url('/fonts/candara_font-webfont.woff2') format('woff2'), url('/fonts/candara_font-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
